In [1]:
people = { "first" : ['nisheet','rohan','amit','abhi'],
            "last" : ['patel', 'soni', 'soni', 'patel'],
          "email" : ["nisheet@gmail.com", "rohansoni@gmail.com","amitsoni@gmail.com","abhi@gmail.com"]
         }

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

     first   last                email
0  nisheet  patel    nisheet@gmail.com
1    rohan   soni  rohansoni@gmail.com
2     amit   soni   amitsoni@gmail.com
3     abhi  patel       abhi@gmail.com

In [5]:
df['email']

0      nisheet@gmail.com
1    rohansoni@gmail.com
2     amitsoni@gmail.com
3         abhi@gmail.com
Name: email, dtype: object

In [6]:
df.email

0      nisheet@gmail.com
1    rohansoni@gmail.com
2     amitsoni@gmail.com
3         abhi@gmail.com
Name: email, dtype: object

In [7]:
type(df['email'])

pandas.core.series.Series

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df[['last','email']]

    last                email
0  patel    nisheet@gmail.com
1   soni  rohansoni@gmail.com
2   soni   amitsoni@gmail.com
3  patel       abhi@gmail.com

In [10]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

# .iloc

In [11]:
df.iloc[0]

first              nisheet
last                 patel
email    nisheet@gmail.com
Name: 0, dtype: object

In [12]:
df.iloc[[0,2]]

     first   last               email
0  nisheet  patel   nisheet@gmail.com
2     amit   soni  amitsoni@gmail.com

In [19]:
#for having emails
df.iloc[[0,2],2]

0     nisheet@gmail.com
2    amitsoni@gmail.com
Name: email, dtype: object

# .loc

In [17]:
#in loc you can pass string 
df.loc[[0,2],'email']

0     nisheet@gmail.com
2    amitsoni@gmail.com
Name: email, dtype: object

In [25]:
#we can use slicing
df.loc[0:2,'email']
# df.loc[0:2,'first':'email']

0      nisheet@gmail.com
1    rohansoni@gmail.com
2     amitsoni@gmail.com
Name: email, dtype: object

In [21]:
df.loc[[0,2],['email','last']]

                email   last
0   nisheet@gmail.com  patel
2  amitsoni@gmail.com   soni

In [23]:
df['last'].value_counts()

soni     2
patel    2
Name: last, dtype: int64