In [1]:
people = { "first" : ['nisheet','rohan','amit','abhi'],
            "last" : ['patel', 'soni', 'soni', 'patel'],
          "email" : ["nisheet@gmail.com", "rohansoni@gmail.com","amitsoni@gmail.com","abhi@gmail.com"]
         }

In [2]:
import pandas as pd

In [3]:
# you can set parameter index_col="<column-name>"
# df = pd.DataFrame(people, index_col="first")
df = pd.DataFrame(people)

In [4]:
df

     first   last                email
0  nisheet  patel    nisheet@gmail.com
1    rohan   soni  rohansoni@gmail.com
2     amit   soni   amitsoni@gmail.com
3     abhi  patel       abhi@gmail.com

In [5]:
df['email']

0      nisheet@gmail.com
1    rohansoni@gmail.com
2     amitsoni@gmail.com
3         abhi@gmail.com
Name: email, dtype: object

In [6]:
df.set_index('email', inplace=True)

In [7]:
df

                       first   last
email
nisheet@gmail.com    nisheet  patel
rohansoni@gmail.com    rohan   soni
amitsoni@gmail.com      amit   soni
abhi@gmail.com          abhi  patel

In [8]:
df.index

Index(['nisheet@gmail.com', 'rohansoni@gmail.com', 'amitsoni@gmail.com',
       'abhi@gmail.com'],
      dtype='object', name='email')

In [9]:
df.loc['nisheet@gmail.com']

first    nisheet
last       patel
Name: nisheet@gmail.com, dtype: object

In [10]:
df.reset_index(inplace=True)

In [11]:
# df.sort_index() it will sort index in acscending order.
# df.sort_index(ascending=False) now it sort in descending order